@import "../mixins/mixins";

.categories {
  @include container;
  @include gap;
}
.categories-header {
  @include header;
  &__title {
    @include titles;
  }
  &__button {
    @include buttons;
  }
}

.categories-content {
  @include content;
  &__card {
    @include card;
    &__image {
      @include images;
    }
    &__title {
      @include labels;
    }
  }
}

//LIGHTMODE

.categories-header-button-light {
  @include buttons-light;
}

.categories-header-title-light {
  color: var(--color-grey-950);
}

.categories-content-card-light {
  background-color: var(--color-grey-25);
  &__title {
    color: var(--color-grey-950);
  }
}
