@import "../mixins/mixins";

.featured {
  @include container;
  @include gap;
}

.featured-header {
  @include header;
  &__title {
    @include titles;
  }
  &__options {
    &__button {
      @include buttons;
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0.25rem;
      }
    }
  }
}

.featured-content {
  @include content;
  &__card {
    @include card;
    &__image {
      @include images;
    }
    &__title {
      @include labels;
    }
  }
}

.active-button {
  background-color: var(--color-grey-25);
  color: var(--color-grey-900);
}

//LIGHT MODE

.featured-header-title-light {
  color: var(--color-grey-950);
}

.featured-content-card-light {
  background-color: var(--color-grey-25);
  &__title {
    color: var(--color-grey-950);
  }
}
