.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.25rem;
  padding: 0.75rem 1.5rem;
  border-bottom: 1px solid var(--color-dark-blue-500);
  @include gap;
  &__search {
    display: flex;
    align-items: center;
    height: 2.75rem;
    padding: 0.75rem;
    border: 1px solid var(--color-grey-700);
    border-radius: var(--border-xs);
    background-color: var(--color-dark-blue-200);
    cursor: pointer;
    &__img {
      height: 1rem;
      margin-right: 0.5rem;
    }
    &__input {
      background-color: var(--color-dark-blue-200);
      border: none;
      &:focus {
        color: var(--color-grey-25);
        outline: none;
      }
      &::placeholder {
        color: var(--color-grey-400);
      }
    }
  }
}

.account {
  display: flex;
  align-items: center;
  &__action {
    margin-right: 1rem;
    cursor: pointer;
  }
  &__more {
    cursor: pointer;
    margin-left: 1rem;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  background-color: yellow;
  border-radius: var(--border-circle);
  border: 1px solid var(--color-grey-700);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0rem 0.5rem;
  cursor: pointer;
  &__status {
    position: absolute;
    bottom: 0;
    right: -2%;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: var(--border-circle);
    background-color: var(--color-green-500);
    border: 1px solid var(--color-dark-blue-200);
  }
}

.user {
  &__name {
    cursor: pointer;
    color: var(--color-grey-100);
    line-height: 1.25rem;
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-size-md);
  }
  &__email {
    cursor: pointer;
    color: var(--color-grey-400);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-size-sm);
    line-height: 1rem;
  }
}

.toggle-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.25rem;
  border-radius: var(--border-circle);
  margin-right: 1rem;
  cursor: pointer;
  transition: all 250ms ease;
  &:hover {
    background-color: var(--color-dark-blue-400);
  }
}
