@import "../mixins/mixins";

.podcasts {
  @include container;
  justify-content: space-between;
  @include gap;
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__title {
      @include titles;
    }
    &__button {
      @include buttons;
      &:hover {
        border: 1px solid var(--color-grey-500);
      }
    }
  }
  &__cards {
    display: flex;
  }
}

.podcast-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem 0rem;
  &:hover {
    --scrollbar: var(--color-grey-400);
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: var(--border-xs);
    background-color: var(--color-dark-blue-200);
    border: 1px solid var(--color-grey-700);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-xs);
    border: 0.2rem solid transparent;
    background-clip: content-box;
    background-color: var(--color-grey-700);
    &:hover {
      background-color: var(--color-grey-400);
    }
  }
}

.card {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  flex-direction: column;
  justify-content: space-between;
  width: 19.25rem;
  height: 11.25rem;
  border-radius: var(--border-xs);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 250ms ease-in-out;
  &:last-child {
    margin-right: 0rem;
  }
  &:hover {
    opacity: 1;
  }
  &__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    &__actions {
      display: flex;
      flex-grow: 1;
      &__img {
        margin-right: 0.5rem;
        height: 1.5rem;
        padding: 0.15rem;
        border-radius: 0.5rem;
        &:last-child {
          margin-right: 0rem;
        }
        &:hover {
          background-color: var(--color-grey-950);
        }
      }
    }
    &__view {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 4.5rem;
      height: 1.5rem;
      padding: 0.25 0.5rem;
      background-color: rgba(65, 63, 58, 0.8);
      border-radius: var(--border-sm);
      &__circle {
        height: 0.75rem;
        width: 0.75rem;
        border-radius: var(--border-circle);
        background-color: var(--color-green-500);
      }
      &__text {
        color: var(--color-green-500);
        font-size: var(--text-size-sm);
        font-weight: var(--font-weight-medium);
      }
    }
  }
  &__info {
    height: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    &__content {
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      width: 100%;
      padding: 0rem 0.5rem;
      &__title {
        font-size: var(--text-size-md);
        font-weight: var(--font-weight-medium);
        line-height: 1.25rem;
        color: var(--color-grey-25);
      }
      &__edition {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-grey-25);
        font-size: var(--text-size-xs);
        font-weight: var(--font-weight-medium);
        line-height: 0.75rem;
        padding: 0.25rem 0.5rem;
        border: none;
        background-color: var(--color-blue-600);
        border-radius: var(--border-circle);
      }
    }
  }
}

.offline-text {
  color: var(--color-red-500);
}

.offline-circle {
  background-color: var(--color-red-500);
}

//LIGHT MODE

.podcasts-header-title-light {
  color: var(--color-grey-950);
}

.podcasts-header-button-light {
  @include buttons-light;
}

.podcast-scroll-light {
  &:hover {
    --scrollbar: var(--color-grey-600);
  }
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: var(--border-xs);
    background-color: var(--color-grey-200);
    border: 1px solid var(--color-grey-300);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: var(--border-xs);
    border: 0.2rem solid transparent;
    background-clip: content-box;
    background-color: var(--color-grey-400);
    &:hover {
      background-color: var(--color-grey-500);
    }
  }
}
