@import "../mixins/mixins";

.podcasts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 97rem;
  height: 15.25rem;
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__title {
      @include titles;
    }
    &__button {
      @include buttons;
      &:hover {
        border: 1px solid var(--color-grey-500);
      }
    }
  }
  &__cards {
    display: flex;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19.25rem;
  height: 11.25rem;
  border-radius: var(--border-xs);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2rem;
  cursor: pointer;
  overflow: hidden;
  &:last-child {
    margin-right: 0rem;
  }
  &__status {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    &__view {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 4.5rem;
      height: 1.5rem;
      padding: 0.25 0.5rem;
      background-color: rgba(65, 63, 58, 0.8);
      border-radius: var(--border-sm);
      &__circle {
        height: 0.75rem;
        width: 0.75rem;
        border-radius: var(--border-circle);
        background-color: var(--color-green-500);
      }
      &__text {
        color: var(--color-green-500);
        font-size: var(--text-size-sm);
        font-weight: var(--font-weight-medium);
      }
    }
  }
  &__info {
    height: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    &__content {
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      width: 100%;
      padding: 0rem 0.5rem;
      &__title {
        font-size: var(--text-size-md);
        font-weight: var(--font-weight-medium);
        line-height: 1.25rem;
        color: var(--color-grey-25);
      }
      &__edition {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-grey-25);
        font-size: var(--text-size-xs);
        font-weight: var(--font-weight-medium);
        line-height: 0.75rem;
        padding: 0.25rem 0.5rem;
        border: none;
        background-color: var(--color-blue-600);
        border-radius: var(--border-circle);
      }
    }
  }
}

.offline-text {
  color: var(--color-red-500);
}

.offline-circle {
  background-color: var(--color-red-500);
}
