.content-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-grey-950);
}

.displayed-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
